node_modules
.vercel
.vscode
/firebase.js
/starter-page.html
/portfolio-details.html
/common-structure.html
/index.html
/index1.html



# env
.env
.env.local
.env.development
.env.production
.env.test
.env.test.local
.env.production.local
.env.development.local
.env.test.local
.env.production.local
.env.development.local
.env.test.local
.env.production.local
.env.development.local
